html {
  background-image: linear-gradient(rgba(66, 118, 183, 0.6), rgba(66, 118, 183, 0.6)), url("../images/thesims_diamond.png");
  background-position: center -1rem;
  
}

body {
  background: #4276b7;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  color: #a6e329;
}

h2 {
  font-size: 2.5rem;
  color: #21b96b;
  margin-bottom: 50px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #21b96b;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  color: 	#3cb9e1;
}
